from gvtest.testsuite import Shell, Checker, Testset, Test


def check_output(_test: Test, output: str):

    # The read of *0x20000000 (which makes my_comp print "Received request") is
    # evaluated as the argument to printf, so it is emitted before the "Hello"
    # line. (The two used to appear reversed only due to stdout buffering, before
    # the engine's always-on console-output channel made the ordering faithful.)
    expected = 'Received request at offset 0x0, size 0x4, is_write 0\n' \
        'Hello, got 0x12345678 from my comp\n'

    if output.find(expected) == -1:
        return (False, "Didn't find output string\n")

    return (True, None)


def testset_build(testset: Testset):

    test = testset.new_test('B_build_a_component')
    test.add_command(Shell('clean', f'make clean BUILDDIR={test.get_path()}'))
    test.add_command(Shell('gvsoc', f'make prepare gvsoc BUILDDIR={test.get_path()}'))
    test.add_command(Shell('all', f'make all BUILDDIR={test.get_path()}'))
    test.add_command(Shell('run', f'make run BUILDDIR={test.get_path()}'))
    test.add_command(Checker('check', check_output))
