from gvtest.testsuite import Shell, Testset, Test
import os


def testset_build(testset: Testset):
    # Run the CI script from the gvsoc root (5 levels above this testset file)
    gvsoc_root = os.path.normpath(os.path.join(testset.get_path(), *(['..'] * 5)))

    test = testset.new_test('hwpe_tutorial')
    test.add_command(Shell('run', f'cd {gvsoc_root} && bash pulp/docs/developer_manual/tutorials/hwpe/run_tutorial_ci.sh'))
