from plptest import *

# Called by plptest to declare the tests
def testset_build(testset):

    testset.set_name('snitch')

    testset.add_target('snitch_testbench')

    testset.import_testset(file='tests/lsu_outstanding/testset.cfg')
